:root {
  --task: "Annie Use Your Telescope", cursive;
  --footer: "Comforter", cursive;
  --title: "Rubik Maze", cursive;
  --sacramento: "Sacramento", cursive;

  --cherry: #660f39;
  --pink: #ffffff;
  --deepPink: #ff1493;
  --font: #0b5d3e;
  --darkFuchsia: #249079;
  --deepFuchsia: #48c0ac;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper-general {
  background: linear-gradient(0deg, #2b2a2a 56%, black 100%);
  height: 100vh;
}

.title {
  font-family: "Rubik Maze", cursive;
}
