:root {
  --task: "Annie Use Your Telescope", cursive;
  --footer: "Comforter", cursive;
  --title: "Rubik Maze", cursive;
  --sacramento: "Sacramento", cursive;

  --cherry: #660f39;
  --pink: #ffffff;
  --deepPink: #ff1493;
  --font: #0b5d3e;
  --darkFuchsia: #249079;
  --deepFuchsia: #48c0ac;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.wrapper-general {
  background: #2b2a2a;
  height: 100vh;
  /* display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  position: relative; */
}
